<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apelx.springcloud.dao.StorageDAO">

    <resultMap id="storageBaseResultMap" type="cn.apelx.springcloud.domain.Storage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <result column="used" property="used" jdbcType="INTEGER"/>
        <result column="residue" property="residue" jdbcType="INTEGER"/>
    </resultMap>

    <update id="decreaseStorage">
        update t_storage
        set used    = case
                          when used is null then #{count,jdbcType=INTEGER}
                          when used + #{count,jdbcType=INTEGER} > total then total
                          else used + #{count,jdbcType=INTEGER} end,
            residue = case
                          when residue is null or residue <![CDATA[ <= ]]> #{count,jdbcType=INTEGER} then 0
                          else residue - #{count,jdbcType=INTEGER} end
        where product_id = #{productId,jdbcType=BIGINT}
    </update>

</mapper>