<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apelx.springcloud.dao.AccountDAO">

    <resultMap id="orderBaseResultMap" type="cn.apelx.springcloud.domain.Account">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>
        <result column="used" property="used" jdbcType="DECIMAL"/>
        <result column="residue" property="residue" jdbcType="DECIMAL"/>
    </resultMap>

    <update id="decreaseAccount">
        update t_account
        set used    = case
                          when used is null then #{money,jdbcType=DECIMAL}
                          when used + #{money,jdbcType=DECIMAL} > total then total
                          else used + #{money,jdbcType=DECIMAL} end,
            residue = case
                          when residue is null or residue <![CDATA[ <= ]]> #{money,jdbcType=DECIMAL} then 0
                          else residue - #{money,jdbcType=DECIMAL} end
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>